version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.9

      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/postgres:9.4

    #### TEMPLATE_NOTE: go expects specific checkout path representing url
    #### expecting it in the form of
    ####   /go/src/github.com/circleci/go-tool
    ####   /go/src/bitbucket.org/circleci/go-tool
    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout
      - run:
          name: hugo install
          command: |
              go get -v github.com/spf13/hugo
              git config --global user.name "risso24"
              git config --global user.email "sakotomona@gmail.com"

      - run:
          name: push to master
          command: |
              hugo
              git clone git@github.com:risso24/tomoblog.github.io.git
              ls
              cp -rp public/* tomoblog.github.io/
              cd tomoblog.github.io
              ls
              git remote set-url origin git@github.com:isso24/tomoblog.github.io.git
              git add .
              git commit -m "[ci skip] publish"
              git push origin master